<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<title>Biodata</title>
<!-- upper-link -->
<div layout:fragment="upper-link">
	<!-- jQuery UI -->
	<link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.min.css}">
	<!-- date-range-picker -->
	<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
</div>
<!-- /upper-link -->
</head>
<body class="h-100">
	<div layout:fragment="title">Biodata</div>
	<div layout:fragment="subtitle">Biodata</div>
	<div layout:fragment="maincontent">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Biodata</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Biodata</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->


		<section class="content">
			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Tabel Biodata</h3>

					<div class="card-tools">
						<div class="input-group input-group-sm">
							<input type="text" name="table_search" id="table_search"
								class="form-control float-right" placeholder="Search">

							<div class="input-group-append">
								<button type="submit" class="btn btn-default">
									<i class="fas fa-search"></i>
								</button>
								<a id="addButton" type="button" class="btn btn-primary col-auto"
									data-toggle="modal" data-target="#exampleModal"><i
									class="fas fa-plus fa-fw"></i> Add</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap" id="biodataTable">
						<thead>
							<tr>
								<th>ID</th>
								<th>NIK</th>
								<th>Nama</th>
								<th>Tanggal Lahir</th>
								<th>Tempat Lahir</th>
								<th>Jenis Kelamin</th>
								<th>Asal Sekolah</th>
								<th>Level Sekolah Asal</th>
								<th>Pekerjaan</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>



		<!-- Add Modal -->
		<div class="modal fade bd-example-modal-lg" id="exampleModal"
			tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div id="headerModal" class="modal-header">
						<h5 class="modal-title">Form Biodata</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h3>Tambah Biodata Baru</h3>
						<div id='msg'></div>
						<form id="form-validation">
							<div id="form">
								<div class="form-group">
									<label class="form-label">NIK</label> <input type="text"
										id="nik" name="nik" class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Nama</label> <input type="text"
										id="nama" name="nama" class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Tanggal Lahir</label> <input
										type="text" id="tanggalLahir" name="tanggalLahir"
										class="form-control" autocomplete="off" />
								</div>
								<div class="form-group">
									<label class="form-label">Tempat Lahir</label> <input
										type="text" id="tempatLahir" name="tempatLahir"
										class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Jenis Kelamin</label> <select
										class="custom-select mr-sm-2" id="kodeJenisKelamin"
										name="kodeJenisKelamin">
										<option selected>Pilih...</option>
										<option>L</option>
										<option>P</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Asal Sekolah</label> <input
										type="text" id="asalSekolah" name="asalSekolah"
										class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Level Sekolah Asal</label> <select
										class="custom-select mr-sm-2" id="levelSekolahAsal"
										name="levelSekolahAsal">
										<option selected>Pilih...</option>
										<option>KB</option>
										<option>TK</option>
										<option>SD</option>
										<option>SMP</option>
										<option>SMA</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Pekerjaan</label> <input type="text"
										id="kodePekerjaan" name="kodePekerjaan" class="form-control">
								</div>
								<div id="footerModal" class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" id="closeModal">Kembali</button>
									<button type="submit" class="btn btn-success">
										<i class='fas fa-save fa-fw'></i> Simpan
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Add Modal -->

		<!-- Edit Modal -->
		<div class="modal fade bd-example-modal-lg" id="exampleModal-edit"
			tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div id="headerModal-edit" class="modal-header">
						<h5 class="modal-title">Form Edit Biodata</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h3>Edit Biodata</h3>
						<div id='msg-edit'></div>
						<form id="form-validation-edit">
							<div id="form-edit">
								<input type="hidden" id="biodataId"> <input
									type="hidden" id="createdAt">
								<div class="form-group">
									<label class="form-label">NIK</label> <input type="text"
										id="enik" name="enik" class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Nama</label> <input type="text"
										id="enama" name="enama" class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Tanggal Lahir</label> <input
										type="text" id="etanggalLahir" name="etanggalLahir"
										class="form-control" autocomplete="off" />
								</div>
								<div class="form-group">
									<label class="form-label">Tempat Lahir</label> <input
										type="text" id="etempatLahir" name="etempatLahir"
										class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Jenis Kelamin</label> <select
										class="custom-select mr-sm-2" id="ekodeJenisKelamin"
										name="ekodeJenisKelamin">
										<option selected>Pilih...</option>
										<option>L</option>
										<option>P</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Asal Sekolah</label> <input
										type="text" id="easalSekolah" name="easalSekolah"
										class="form-control">
								</div>
								<div class="form-group">
									<label class="form-label">Level Sekolah Asal</label> <select
										class="custom-select mr-sm-2" id="elevelSekolahAsal"
										name="elevelSekolahAsal">
										<option selected>Pilih...</option>
										<option>KB</option>
										<option>TK</option>
										<option>SD</option>
										<option>SMP</option>
										<option>SMA</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Pekerjaan</label> <input type="text"
										id="ekodePekerjaan" name="ekodePekerjaan" class="form-control">
								</div>
								<div id="footerModal-edit" class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal" id="closeModal">Kembali</button>
									<button type="submit" class="btn btn-success">
										<i class='fas fa-save fa-fw'></i> Simpan
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Edit Modal -->
		</div>
		<!-- bottom-script -->
		<div layout:fragment="bottom-script">
			<!-- Script -->
			<script type="text/javascript" th:src="@{/dist/js/biodata.js}"></script>
			<!-- jQuery UI -->
			<script th:src="@{/plugins/jquery/jquery-ui.js}"></script>
			<!-- date-range-picker -->
			<script th:src="@{/plugins/moment/moment.min.js}"></script>
			<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
		</div>
		<!-- /bottom-script -->
</body>
</html>