<!DOCTYPE html>
<html
  lang="id"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main-layout}"
>
  <head>
    <title>Kelas Program</title>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    <div layout:fragment="title">Kelas Program</div>
    <div layout:fragment="subtitle">Kelas Program</div>
    <div layout:fragment="maincontent">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Kelas Program</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Kelas Program</li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tabel Kelas Program</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px">
                <input
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search"
                  id="KelasProgramSearch"
                />

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                  <a
                    href="#tambahkelasprogrammodal"
                    id="add-button"
                    rel="modal:open"
                    class="btn btn-primary col-auto"
                    data-toggle="modal"
                  >
                    <span>Add</span></a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <table
            id="KelasProgramTable"
            class="table table-hover text-nowrap"
          ></table>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-default"
            data-toggle="modal"
            data-target="#tambahkelasprogrammodal"
          >
            Tambah Kelas Program
          </button>
        </div>
        <div>&nbsp;</div>
      </section>
      <!-- /.content -->

      <!-- ADD KELAS PROGRAM MODAL -->
      <div id="tambahkelasprogrammodal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tambah Kelas Program</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <form id="addkelasprogramform">
              <div class="modal-body">
                <div class="form-group">
                  <label>Kode Kelas Program</label>
                  <input
                    type="text"
                    id="kelasprogram"
                    name="kelasprogram"
                    class="form-control"
                    autocomplete="off"
                  />
                  <span id="msg" class="invalid-feedback"></span>
                  <span id="msg"></span>
                </div>
              </div>
              <div class="modal-footer">
                <input
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  value="Cancel"
                />
                <input
                  type="submit"
                  class="btn btn-success"
                  value="Submit"
                  id="add-mapel"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    layout:fragment="bottom-script"
    th:src="@{/dist/js/KelasProgram.js}"
  ></script>
</html>
