<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<title>Kurikulum</title>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="h-100">
	<div layout:fragment="title">Kurikulum</div>
	<div layout:fragment="subtitle">Kurikulum</div>
	<div layout:fragment="maincontent">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Kurikulum</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Kurikulum</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->


		<section class="content">
			<!-- Default box -->
			<a href="#"><button class="btn btn-primary btn-sm"
					data-toggle="modal" data-target="#add">
					<i class="fas fa-plus"></i>&nbsp; Tambah Kurikulum
				</button></a>
			<p id="err" style="display: inline; margin-left: 450px"></p>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Tabel Kurikulum</h3>

					<div class="card-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" id="search"
								class="form-control float-right" placeholder="Cari">
						</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">

					<table class="table table-hover text-nowrap" id="curiculum_table">

					</table>

				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->

		</section>

		<!-- Add Modal -->
		<div id="add" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Tambah Kurikulum</h4>
					</div>
					<div class="modal-body">
						<span id='add-msg'></span>
						<form id="add-form">
							<div class="form-group">
								<label for="keterangan">Nama :</label>
								<div class="form-floating mb-3">
									<input type="text" id="nama" name="nama" class="form-control"
										placeholder="Nama Kurikulum" required>
								</div>
							</div>
							<div class="form-group">
								<label for="keterangan">Keterangan :</label>
								<div class="form-floating mb-3">
									<input type="text" id="keterangan" name="keterangan"
										class="form-control input-lg" placeholder="Keterangan"
										required>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="addNew"
							class="btn btn-primary swalDefaultSuccess btn-sm">
							<i class="fas fa-save"></i>&nbsp; Simpan
						</button>
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal">
							<i class="fas fa-times"></i>&nbsp; Batal
						</button>
					</div>
					</form>
				</div>

			</div>
		</div>

		<!-- Edit Modal -->
		<div id="edit" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Ubah Data Kurikulum</h4>
					</div>
					<div class="modal-body">
						<span id='edit-msg'></span>
						<form id="edit-form">
							<div class="form-group">
								<label for="id">ID : </label>
								<div class="form-floating mb-3">
									<input type="text" id="edId" name="id" class="form-control"
										placeholder="ID" required readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="edNama">Nama : </label>
								<div class="form-floating mb-3">
									<input type="text" id="edNama" name="nama" class="form-control"
										placeholder="Nama Kurikulum" required>
								</div>
							</div>
							<div class="form-group">
								<label for="edKeterangan">Keterangan : </label>
								<div class="form-floating mb-3">
									<input type="text" id="edKeterangan" name="keterangan"
										class="form-control input-lg" placeholder="Keterangan"
										required>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="addNew"
							class="btn btn-primary swalDefaultSuccess btn-sm">
							<i class="fas fa-save"></i>&nbsp; Simpan
						</button>
						<button type="button" class="btn btn-default btn-sm"
							data-dismiss="modal">
							<i class="fas fa-times"></i>&nbsp; Batal
						</button>
					</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
<script layout:fragment="bottom-script"
	th:src="@{/dist/js/kurikulum.js}"></script>
</html>