<!DOCTYPE html>
<html 
lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-layout}">
<head>
  <title>Nilai Peserta Program</title>

</head>
<body class="h-100">
<div layout:fragment="title">Nilai Peserta Program</div>
<div layout:fragment="subtitle">Nilai Peserta Program</div>
<div layout:fragment="maincontent">
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Nilai Peserta Program</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Nilai Peserta Program</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
      <div class="col">
      <button id="tombolAddModal" class="btn bg-gradient-primary mb-3"><i class="fas fa-plus fa-fw"></i> Tambah Nilai Peserta</button>
      </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabel Nilai Peserta Program</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input id="myInput" type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table id="list" class="table table-hover text-nowrap">
                  
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  


	<!-- Modal Tambah Data -->
	<div class="modal fade" id="modal-default">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="modal-header" class="modal-header">
					<h4 class="modal-title">Form Nilai Peserta</h4> 					
					<button type="button" class="close" data-dismiss="modal"
 						aria-label="Close"> 
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<div id='msg'></div>
					<form id="form-validation">
						<div id="form" class="form">
							<div class="form-group">
								<label for="programPembelajaranId" class="form-label">Program Pembelajaran ID</label> 
								<!-- <input class="form-control" type="number" id="programPembelajaranId" name="programPembelajaranId"> -->
								<select id="programPembelajaranId" name="programPembelajaranId"
									class="form-control form-control-sm"></select>
							</div>
							<div class="form-group">
								<label for="angkatan">Angkatan</label> 
								<!--<input class="form-control" type="number" id="angkatan" name="angkatan"> -->
								<select id="angkatan" name="angkatan"
									class="form-control form-control-sm"></select>
							</div>
							<div class="form-group">
								<label for="biodataId">Biodata ID</label> 
								<!-- <input class="form-control form-control-sm" type="number" id="biodataId" name="biodataId"> -->
								<select id="biodataId" name="biodataId"
									class="form-control form-control-sm"></select>
							</div>
							<div class="form-group">
								<label for="kodeMapel">Kode Mapel</label> 
								<!-- <input class="form-control form-control-sm" type="text" id="kodeMapel" name="kodeMapel"> -->
								<select id="kodeMapel" name="kodeMapel"
									class="form-control form-control-sm"></select>
							</div>
							<div class="form-group">
								<label for="nilai">Nilai</label> 
								<input class="form-control form-control-sm" type="number" id="nilai" name="nilai">
							</div>
							<div class="form-group">
								<label for="keterangan">Keterangan</label> 
								<input class="form-control form-control-sm" type="text" id="keterangan" name="keterangan">
							</div>
							<div class="form-group">
								<label for="saran">Saran</label> 
								<input class="form-control form-control-sm" type="text" id="saran" name="saran">
							</div>
						<div id="modal-footer" class="modal-footer">
							<button type="submit" class="btn btn-block btn-outline-primary btn-sm" id="addNew"><i class="far fa-save"></i> Save</button>
							<button type="button" class="btn btn-block btn-outline-secondary btn-sm" data-dismiss="modal" id="closeTombol">Close</button>
						</div>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- /.modal -->

</div>
<!-- /.content-wrapper -->


<!-- Mapel Peserta -->
<script layout:fragment="bottom-script" th:src="@{/dist/js/mapelpeserta.js}"></script>
</body>
</html>
