<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main-layout}">
<head>
	<!-- upper-link -->
	<div layout:fragment="upper-link">
		<!-- Select2 -->
		<link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
		<!-- jQuery UI -->
		<link rel="stylesheet" th:href="@{/plugins/jquery-ui/jquery-ui.css}">
		<!-- date-range-picker -->
		<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
	</div>
	<!-- /upper-link -->
</head>
<body class="h-100">
	<div layout:fragment="title">Peserta Program</div>
	<div layout:fragment="subtitle">Peserta Program</div>
	<div layout:fragment="maincontent">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Peserta Program</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Peserta Program</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Tabel Peserta Program</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<div class="row m-3">
						<div class="col">
							<button id="addButton" class="btn btn-primary" data-togle="modal" data-target="#addModal">
								<i class="fas fa-plus fa-fw"></i> Tambah Peserta Program
							</button>
						</div>
						<div class="col-6">
							<div id="alert" style="height: 40px;"></div>
						</div>
						<div class="col">
							<div class="input-group justify-content-end">
								<input id="search" type="text" name="table_search" class="form-control float-right"
									placeholder="Cari...">

								<div class="input-group-append">
									<button type="submit" class="btn btn-default">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body table-responsive p-0" style="height: 450px;">
						<table id="tablepp" class="table table-striped table-head-fixed text-nowrap"></table>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->

		<!-- addModal -->
		<div id="addModal" class="modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div id="headerModal" class="modal-header">
						<h5 class="modal-title">Form Tambah Peserta Program</h5>
					</div>
					<div class="modal-body">
						<div id="msg"></div>
						<form id="form-validation">
							<div id="form">
								<label for="angkatan" class="form-label mb-3">Angkatan</label>
								<div class="form-group">
									<select id="angkatan" name="angkatan" class="form-control select2"
										style="width: 100%;"></select>
								</div>
								<div class="form-group">
									<label for="biodataId" class="form-label">Biodata</label> <select id="biodataId"
										name="biodataId" class="form-control select2" style="width: 100%;"></select>

								</div>
								<div class="form-group">
									<label for="programPembelajaranId" class="form-label">Program
										Pembelajaran</label>
										<select id="programPembelajaranId" name="programPembelajaranId" class="form-control select2" style="width: 100%;"></select>
										<!-- <input type="number" id="programPembelajaranId" name="programPembelajaranId" class="form-control"> -->
								</div>
								<div class="form-group">
									<label for="currentLevel" class="form-label">Tingkat
										Pendidikan</label> <input type="number" id="currentLevel" name="currentLevel"
										class="form-control">
								</div>
								<div class="form-group">
									<label for="tahunMasuk" class="form-label">Tahun Masuk</label> <input type="text"
										id="tahunMasuk" name="tahunMasuk" class="form-control"
										data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy" data-mask>
								</div>
								<div class="form-group">
									<label for="tanggalMasuk" class="form-label">Tanggal
										Masuk</label> <input type="text" id="datepicker" name="tanggalMasuk"
										class="form-control" autocomplete="off">

								</div>
								<div id="footerModal" class="modal-footer">
									<button id="closeModal" type="button" class="btn btn-outline-secondary"
										data-dismiss="modal">
										<i class="fas fa-times"></i> Batal
									</button>
									<button type="submit" class="btn btn-primary">
										<i class="fas fa-save fa-fw"></i> Simpan
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /addModal -->

		<!-- editModal -->
		<div id="editModal" class="modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div id="headerModal-edit" class="modal-header">
						<h5 class="modal-title">Form Edit Peserta Program</h5>
					</div>
					<div class="modal-body">
						<div id="msg-edit"></div>
						<form id="form-validation-edit">
							<div id="form-edit">
								<label for="angkatan" class="form-label">Angkatan</label>
								<div class="form-group">
									<select id="eAngkatan" name="eAngkatan" class="form-control select2"
										disabled="disabled" style="width: 100%;"></select>
								</div>
								<div class="form-group">
									<label for="eBiodataId" class="form-label">Biodata</label> <select id="eBiodataId"
										name="eBiodataId" class="form-control select2" disabled="disabled"
										style="width: 100%;"></select>
								</div>
								<div class="form-group">
									<label for="programPembelajaranId" class="form-label">Program
										Pembelajaran</label>
										<select id="eProgramPembelajaranId" name="programPembelajaranId" class="form-control select2" disabled="disabled" style="width: 100%;"></select>
										<!-- <input type="number" id="eProgramPembelajaranId" name="programPembelajaranId" class="form-control" disabled="disabled"> -->
								</div>
								<div class="form-group">
									<label for="currentLevel" class="form-label">Tingkat
										Pendidikan</label> <input type="number" id="eCurrentLevel" name="currentLevel"
										class="form-control">
								</div>
								<div class="form-group">
									<label for="tahunMasuk" class="form-label">Tahun Masuk</label> <input type="text"
										id="eTahunMasuk" name="tahunMasuk" class="form-control"
										data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy" data-mask>
								</div>
								<div class="form-group">
									<label for="tanggalMasuk" class="form-label">Tanggal
										Masuk</label> <input type="text" id="eDatepicker" name="tanggalMasuk"
										class="form-control" autocomplete="off">
								</div>
								<div id="footerModal-edit" class="modal-footer">
									<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
										<i class="fas fa-times"></i> Batal
									</button>
									<button type="submit" class="btn btn-primary">
										<i class="fas fa-save fa-fw"></i> Simpan
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /editModal -->
	<!-- bottom-script -->
	<div layout:fragment="bottom-script">
		<!-- Script -->
		<script type="text/javascript" th:src="@{/dist/js/pesertaProgram.js}"></script>
		<!-- jQuery UI -->
		<script th:src="@{/plugins/jquery/jquery-ui.js}"></script>
		<!-- date-range-picker -->
		<script th:src="@{/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- input mask -->
		<script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
		<!-- Select2 -->
		<script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
	</div>
	<!-- /bottom-script -->
</body>
</html>