<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<title>Wali Siswa</title>
</head>
<body class="h-100">
	<div layout:fragment="title">Wali Siswa</div>
	<div layout:fragment="subtitle">Wali Siswa</div>
	<div layout:fragment="maincontent">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Wali Siswa</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Wali Siswa</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">

			<!-- Default box -->
			<div class="row">
				<div class="col">
					<button id="tombolAddModal" class="btn btn-primary mb-3">
						<i class="fas fa-plus fa-fw"></i>Tambah Jenis Wali
					</button>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Tabel Wali Siswa</h3>

					<div class="card-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input id="myInput" type="text" name="table_search"
								class="form-control float-right" placeholder="Cari...">

							<div class="input-group-append">
								<button type="submit" class="btn btn-default">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->

				<div class="card-body table-responsive p-0">
					<table id="list" class="table table-hover text-nowrap">
						<thead>

						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->

		<!-- Modal Tambah Data -->
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Tambah Wali Siswa</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div>
							<div id='msg'></div>
							<p>
								<label>Biodata Id</label> <input class="form-control"
									type="number" id="biodataId" name="biodataId"
									autocomplete="off"><br> <label>Jenis Wali
									Siswa</label> &nbsp;&nbsp;&nbsp;&nbsp; <select id="kodeJenisWaliSiswa"
									name="kodeJenisWaliSiswa" style="width: 150px;"><br>
									<option>Ayah/Ibu</option>
									<option>Saudara</option>
									<option>Kerabat</option>
									<option>Lainnya</option>
								</select>
							</p>
						</div>
						<div id='closeModal' class="modal-footer justify-content-between">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Batal</button>
							<button type="submit" class="btn btn-primary" id="addNew">Simpan</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal -->

	</div>
	<!-- /.content-wrapper -->

	<!-- Wali Siswa -->
	<script layout:fragment="bottom-script"
		th:src="@{/dist/js/waliSiswa.js}"></script>
</body>
</html>